h1 {
  font-size: 60px;
  color: gold;
  text-align: center;
}
h2 {
  font-size: 36px;
  color: grey;
  text-align: center;
  text-decoration: underline;
}

a {
  color: hotpink;
}

tr {
  font-size: 30px;
  color: gold;
  text-align: center;
}

body {
  background: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
}
